<%- include('partials/head') %> 
<%- include('partials/header') %>
<div class="container-flud">
    <div class="container">
        <section class="contenido">
            <section class="row"></section>
            <ul class="mini-barra">
            <li class="opciones"><a href="/admin/agregar">Agregar Producto</a></li>
            <li class="opciones"><a href="/admin/show/1/show">Editar - Eliminar</a></li>
            </ul>
        </section>
        <form class="form" id="agregarProducto" action="/admin/agregar" method="POST" enctype="multipart/form-data">
            <section class="form" id="agregarProducto">
                <div class="grupo-form">
                    <h3><label for="">Bodega:</label></h3>
                    <input type="text" name="bodega" placeholder="Escribí acá" >
                </div>
                <div class="grupo-form">
                    <h3><label for="">Nombre:</label></h3>
                    <input type="text" name="nombre" placeholder="Escribí acá" required >
                </div>
                <div class="grupo-form">
                    <h3><label for="">Varietal:</label></h3>
                    <input type="text"  name="varietal" placeholder="Escribí acá"  >
                </div>
                <div class="grupo-form">
                    <h3><label for="">Año:</label></h3>
                    <input type="number" id="barra"  name="cosecha" placeholder="Escribí acá" >
                </div>
                <div class="grupo-form">
                    <h3><label for="">Precio:</label></h3>
                    <input type="number"  name="precio" placeholder="Escribí acá" required >
                    <small class="text-danger" id="errorPrecio"><%= (typeof errors != 'undefined' && errors.precio)?errors.precio.msg: "" %></small>
                </div>
                <div class="grupo-form">
                    <h3><label for="">Descuento</label></h3>
                    <input type="number"  name="descuento" placeholder="Escribí acá" >
                </div>
                <div class="grupo-form">
                    <h3><label for="">Categoria:</label></h3>
                    <select name="categoria" id="algo" required>
                        <option value="1">Vino</option>
                        <option value="2">Espumantes</option>
                        <option value="3">Whiskies</option>
                        <option value="4">Aperitivos</option>
                        <option value="5">Cervezas</option>
                    </select>
                </div>
                <div class="grupo-form">
                    <h3>Descripción:</h3>
                    <textarea name="descripcion" placeholder="Escribí acá" id="" cols="30" rows="5" required></textarea>
                    <small class="text-danger" id="errorDescripcion"><%= (typeof errors != 'undefined' && errors.descripcion)?errors.descripcion.msg: "" %></small>
                  </div>
                
                <div class="grupo-form">
                    <h3><label for="">Agregar imagen</label></h3>
                    <input type="file" name="image" accept="image/*">
                    <small class="text-danger" id="errorImage"><%= (typeof image != 'undefined')?image: "" %></small>
                </div>
                <div>
                    <button type="reset" class="btn btn-outline-secondary mr-3">Borrar</button>
                    <button type="submit" class="btn btn-outline-secondary mr-3" id="agregar">Agregar</button>
                </div>
            </section>
        </form>
        
    </div>
</div>

<%- include('partials/footer') %>