  <%- include('partials/head') %> 
  <%- include('partials/header') %> 
    <div class="container">
      <div class="principales">
        <div class="row productos">
          <div class="contenido">
            <div class="contenido text-left">
              <div class="row">
                  <div class="col-12 col-lg-8">
                      <figure class="text-center">
                          <img src="/images/productos/<%=productos.image%> " alt=<%= productos.image %> class="img-fluid">
                      </figure>
                      <p>
                         <%= productos.descripcion %> 
                      </p>
                  </div>
                  <div class="col-12 col-lg-4 datos">
                      <h2 class="my-4">
                        <%= productos.bodega %> 
                      </h2>
                      <h4 class="my-4">
                        <%= productos.nombre %> 
                      </h4>
                      <h4>
                        <%= productos.varietal %> <%= productos.cosecha %> 
                      </h4>
                      <span><strike>$<%= productos.precio.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".") %></strike> <strong> <%= productos.descuento %>  % OFF</strong></span>
                      <h2>
                        $<%- (productos.precio - productos.precio * productos.descuento / 100).toFixed(0).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".") %> 
                      </h2>
                      <button>Comprar ahora</button>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <!--ACA VA EL FOOTER-->
  <%- include('partials/footer') %> 
