<%- include('partials/head') %> 
<%- include('partials/header') %> 

<div class="container">
    <section class="perfilUsuario">
        <div class="row principal">
            <div class="col-12">
                <div class="contenido">
                    <ul class="nav nav-tabs barra " id="myTab" role="tablist">
                        <li class="nav-item " role="presentation">
                          <a class="nav-link active" id="home-tab" data-toggle="tab" href="#datos" role="tab" aria-controls="home"
                            aria-selected="true">Mis Datos</a>
                        </li>
                        <li class="nav-item " role="presentation">
                          <a class="nav-link " id="profile-tab" data-toggle="tab" href="#editar" role="tab"
                            aria-controls="profile" aria-selected="false">Editar Datos</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active p-4" id="datos" role="tabpanel" aria-labelledby="home-tab">
                            <div class="contenedor">
                                <div class="row">
                                    <div class="col-12 col-md-12  col-lg-4 col-xl-4">
                                        <div class=" d-flex ">
                                            <span class="">
                                                <img src="/images/users/<%= user.photo %> ">
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-12 col-lg-8 col-xl-8 perfil" style ="width: 100%;" >
                                        <div class="d-flex   " >
                                            <h5 id="">Nombre: <%= user.name %></h5>
                                        </div>
                                        <div class=" d-flex  " >
                                            <h5 id="">Apellido: <%= user.last_name %></h5>
                                        </div>
                                        <div class="d-flex " >
                                            <h5 id="">Email: <%= user.email %></h5>
                                        </div>
                                        <div class="d-flex   ">
                                            <h5 id=""> Fecha: <%= user.date %></h5>
                                        </div>
                                        <div class="d-flex  ">
                                            <h5 id="">Telefono: <%= user.phone %></h5>
                                        </div>
                                        <div class="delet">
                                            <form action="/users/delete/<%= user.id %>?_method=DELETE" method="POST">
                                                <button type="submit" class="btn-sm btn-danger" id="darseBaja">Darse de baja</button>
                                            </form>
                                        </div>
                                </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade show  p-4 " id="editar" role="tabpanel" aria-labelledby="profile-tab">
                            <form action="/users/updateProfile/<%= user.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
                                <div class="contenedor">
                                    <div class="row">
                                        <div class="col-12 col-md-12  col-lg-4 col-xl-4">
                                            <div class=" d-flex ">
                                                <span class="">
                                                    <img src="/images/users/<%= user.photo %> ">
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-12 col-lg-8 col-xl-8 editar" style ="width: 100%;" >
                                            <div class=" boton">
                                                <input id="" type="file" name="photo" class="">
                                            </div>
                                            <div class="d-flex" >
                                                <span id="">Nombre:</span>
                                                <input id="" type="text" name="name" value="<%= user.name %>" placeholder="Actualizar Nombre" disabled>
                                            </div>
                                            <div class="d-flex" >
                                                <span id="">Apellido:</span>
                                                <input id="" type="text" name="name" value="<%= user.last_name %>"  disabled>
                                            </div>
                                            <div class="d-flex" >
                                                <span id="">Email:</span>
                                                <input id="" type="email" name="email" value="<%= user.email %>" placeholder="Actualizar Email" disabled>
                                            </div>
                                            <div class=" d-flex">
                                                <span id="">Fecha:</span>
                                                <input id="" type="date" name="date" max='2002-12-31' min='1915-01-01' value="<%= user.date %>" placeholder="Actualizar fecha">
                                            </div>
                                            <div class="d-flex">
                                                <span id="">Telefono:</span>
                                                <input id="" type="tel" name="phone" value="<%= user.phone %>" placeholder="Actualizar Telefono">
                                            </div>
                                            <!--<div class="d-flex">
                                                <label for="inputAddress2">Dirección</label>
                                                <input type="text" name="address" class="form-control" value="<%= user.address %>">
                                            </div>
                                            <div class="d-flex ">
                                                <span id="">Ciudad:</span>
                                                <input id="" type="tel" name="city" value="<%= user.city %>" placeholder="Actualizar Ciudad">
                                            </div>
                                             <div class="d-flex">
                                                <span id="">Provincia:</span>
                                                <input id="" type="tel" name="province" value="<%= user.province %>" placeholder="Actualizar Provincia">
                                            </div>-->
        
                                            <div class="button-algo" >
                                                <button type="submit" class="btn-sm btn-primary m-1"> Actualizar datos</button>
                                                <button type="reset" class="btn-sm btn-secondary m-1">Cancelar</button>
                                            </div> 
                                        </div>
                                    </div> 
                                </div>
                           </form>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </section>
</div>

<%- include('partials/footer') %> 