    <%- include('partials/head') %> 
    <%- include('partials/header2') %>
<div class="conteiner">
      <section class="formario">
        <section class="form">
            <form action="/users/register" method="POST" enctype="multipart/form-data" id="register">
                <h1>Regístrate</h1>
                <div class="grupo-form" >
                    <label for="">Nombre:</label>
                    <input type="text" id="" name="name" placeholder="Ingresá tu nombre completo" class=" <%= (typeof old != 'undefined' && old.name)?"is-valid":(typeof errors != 'undefined' && errors.name)?"is-invalid": ""  %>"
                    value="<%= (typeof old != 'undefined' && old.name)?old.name:'' %>">
                    <small class="text-danger" id="errorName"><%= (typeof errors != 'undefined' && errors.name)?errors.name.msg: "" %></small>
                </div>
                <div class="grupo-form" >
                    <label for="">Apellido:</label>
                    <input type="text" id="" name="last_name" placeholder="Ingresá tu nombre completo"  class="<%= (typeof old != 'undefined' && old.last_name)?"is-valid":(typeof errors != 'undefined' && errors.last_name)?"is-invalid": ""  %>"
                    value="<%= (typeof old != 'undefined' && old.last_name)?old.last_name:'' %>" >
                    <small class="text-danger" id="errorLast_name"><%= (typeof errors != 'undefined' && errors.last_name)?errors.last_name.msg: "" %></small>
                </div>

                <div class="grupo-form" >
                    <label for="">Email:</label>
                    <input type="email" id="" name="email" placeholder="Ingresá tu email" class="<%= (typeof old != 'undefined' && old.email)?"is-valid":(typeof errors != 'undefined' && errors.email)?"is-invalid": ""  %>"
                    value="<%= (typeof old != 'undefined' && old.email)?old.email:'' %>" >
                    <small class="text-danger" id="errorEmail"><%= (typeof errors != 'undefined' && errors.email)?errors.email.msg: "" %></small>
                </div>

                <div class="grupo-form" >
                    <label for="">Fecha de nacimiento:</label>
                    <input type="date" id="" name="date" placeholder="Fecha ne nacimiento" class="<%= (typeof old != 'undefined' && old.date)?"is-valid":(typeof errors != 'undefined' && errors.date)?"is-invalid": ""  %>"
                    value="<%= (typeof old != 'undefined' && old.date)?old.date:'' %>" >
                    <small class="text-danger" id="errorDate"><%= (typeof errors != 'undefined' && errors.date)?errors.date.msg: "" %></small>
                </div>

                <div class="grupo-form">
                    <label for="photo">Agregar imagen</label>
                    <input type="file" name="photo"lang="es" accept="photo/*">
                    <small class="text-danger" id="errorPhoto"><%= (typeof photo != 'undefined')?photo: "" %></small>
                </div>

                <div class="grupo-form">
                    <label for="">Teléfono:</label>
                    <input type="tel" id="" name="phone" placeholder="Ingresá tu teléfono" class="<%= (typeof old != 'undefined' && old.phone)?"is-valid":(typeof errors != 'undefined' && errors.phone)?"is-invalid": ""  %>"
                    value="<%= (typeof old != 'undefined' && old.phone)?old.phone:'' %>" >
                    <small class="text-danger" id="errorPhone"><%= (typeof errors != 'undefined' && errors.phone)?errors.phone.msg: "" %></small>
                </div>

                <div class="grupo-form" >
                    <label for="">Contraseña:</label>
                    <input type="password" id="" name="password" placeholder="Ingresá tu contraseña" class="<%= (typeof old != 'undefined' && old.password)?"is-valid":(typeof errors != 'undefined' && errors.password)?"is-invalid": ""  %>"
                    value="<%= (typeof old != 'undefined' && old.password)?old.password:'' %>">
                    <small class="text-danger" id="errorPassword"><%= (typeof errors != 'undefined' && errors.password)?errors.password.msg: "" %></small>
                </div>


                <div class="terminos-condiciones">
                    <input type="checkbox" name="bases" class="<%= (typeof old != 'undefined' && old.bases)?"is-valid":(typeof errors != 'undefined' && errors.bases)?"is-invalid": ""  %>"
                    value="<%= (typeof old != 'undefined' && old.last_name)?old.bases:'' %>" id="">
                    <label for="">Acepto terminos y condiciones</label>
                    <small class="text-danger" id="errorBases"><%= (typeof errors != 'undefined' && errors.bases)?errors.bases.msg: "" %></small>
                </div>

                <div class="button-algo" id="boton">
                    <button type="submit"> Registrarse</button>
                </div>
                <article class="form2" id="registrarse">
                    <div class="algo2">
                        <a href="/users/login">¿Ya tienes cuenta? <b>Inicia sesión.</b></a>
                    </div>
                </article>
            </form>
            <span id="msgError"></span>
        </section>
    </section>
</div>

    <!-- scripts de bootstrap -->
  <script
  src="https://code.jquery.com/jquery-3.5.1.slim.min.js "
  integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj "
  crossorigin="anonymous "
></script>
<script
  src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js "
  integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo "
  crossorigin="anonymous "
></script>
<script
  src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js "
  integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI "
  crossorigin="anonymous "
></script>
</body>
</html>
