<%- include('partials/head') %> 
<%- include('partials/header') %> 
    <main class="container">
        <section class="row"></section>
        <ul class="barra">
        <li class="opciones"><a href="/admin/agregar">Agregar Producto</a></li>
        <li class="opciones"><a href="/admin/show/1/show">Editar / Eliminar</a></li>
    
        </ul>
        <section class="form">
            <div>
  <section class="principal">
    <div class="container-fluid">
      <div class="row">
        <% productos.forEach(producto => { %>
        <div class="col-12 col-md-6 col-lg-4">
          <div class="contenido">
            <figure>
              <a href="/admin/show/<%= producto.id %>/show">
                <img src="/images/productos/<%= producto.image %> " alt="">
            </figure>
            <h3>Bodega: <%= producto.bodega %> </h3>
            <h4>Nombre: <%= producto.nombre %> </h4>
            <h4>Varietal: <%= producto.varietal %> </h4>
            <h4>Año: <%= producto.cosecha %> </h4>
            <h4>Precio: <%= producto.precio %> </h4>
              <h4>Descuento: <%= producto.descuento %>% OFF</h4>
              <h4>Categoría: <%= producto.categoria.name%> </h4>
             
              <form action ="/admin/eliminar/<%= producto.id %>?_method=DELETE" method="POST">
                <button type="submit">Eliminar</button>
             </form>
            
            </a>
           
            </div>
        </div>
        <% }) %>
      </div>
    </div>
      </section>
      
      <!--ACA VA EL FOOTER-->
      <%- include('partials/footer') %> 
    