  <%- include('partials/head') %> 
  <%- include('partials/header') %> 
  <div class="barra">
    <section class="main-nav">
      <ul class="algo">
        <li>
          <a href="/tienda/categoria/1">Vinos</a>
        </li>
        <li>
          <a href="/tienda/categoria/2">Espumantes</a>
        </li>
        <li>
          <a href="/tienda/categoria/3">Whiskies</a>
        </li>
        <li>
          <a href="/tienda/categoria/4">Aperitivos</a>
        </li>
        <li>
          <a href="/tienda/categoria/5">Cervezas</a>
        </li>
      </ul>
    </section>
  </div>
  <!-- Productos de la tienda -->

  <section class="principal">
    <div class="container">
      <div class="row">
        <% Productos.forEach(Producto => { %>
        <div class="col-12 col-md-6 col-lg-3">
          <div class="contenido">
            <figure>
              <a href="/tienda/<%= Producto.id %>">
                <img src="/images/productos/<%= Producto.image %> " alt="">
              </a>
            </figure>
            <h3><%= Producto.bodega %> </h3>
            <span><%= Producto.nombre %> </span>
            <article>
              $<%- (Producto.precio - Producto.precio * Producto.descuento / 100).toFixed(0).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".") %>
               <% if (Producto.descuento !=0) { %>
                  <span class="descuento"><%= Producto.descuento %>% OFF</span>
                <% } %>
      </div>
      
    </div>
    <% }) %>
  </section>
  
  <!--ACA VA EL FOOTER-->
  <%- include('partials/footer') %> 
