  <%- include('partials/head') %> 
  <%- include('partials/header') %> 
  <div class="barra">
    <section class="main-nav">
      <ul class="algo">
        <li>
          <a href=" ">Vinos</a>
        </li>
        <li>
          <a href=" ">Espumantes</a>
        </li>
        <li>
          <a href="">Whiskies</a>
        </li>
        <li>
          <a href=" ">Aperitivos</a>
        </li>
        <li>
          <a href=" ">Cervezas</a>
        </li>
      </ul>
    </section>
  </div>
  <!-- Productos de la tienda -->

  <section class="principal">
    <div class="container">
      <div class="row">
        <% db.forEach(producto => { %>
        <div class="col-12 col-md-6 col-lg-3">
          <div class="contenido">
            <figure>
              <a href="/tienda/<%= producto.id %>">
                <img src="/images/<%= producto.image %> " alt="">
              </a>
            </figure>
            <h3><%= producto.bodega %> </h3>
            <span><%= producto.nombre %> </span>
            <article>
              $<%- (producto.price - producto.price * producto.discount / 100).toFixed(0).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".") %>
               <% if (producto.discount !=0) { %>
                  <span><%= producto.discount %>% OFF</span>
                <% } %>
                <!--
               <p>Nombre del producto</p>
              <a href="/tienda/carrito"><button type="submit"><i class="fas fa-cart-arrow-down"></i>comprar</button></a>
            </article>
          </div>
        </div>
        
        <div class="col-12 col-md-6 col-lg-3">
          <div class="contenido">
            <figure>
              <a href="/tienda/detalle">
                <img src="/images/home/aperitivos.jpg" alt="">
              </a>
            </figure>
            <article>
               <h3>$1.300</h3>
               <span>20% OFF</span>
               <p>Nombre del producto</p>

               <a href="/tienda/carrito"><button type="submit"><i class="fas fa-cart-arrow-down"></i>comprar</button></a>
            </article>
          </div>
        </div>
 
        <div class="col-12 col-md-6 col-lg-3">
          <div class="contenido">
            <figure>
              <a href="/tienda/detalle">
                <img src="/images/home/brahma.jpg" alt="">
              </a>
            </figure>
            <article>
               <h3>$1.300</h3>
               <span>10% OFF</span>
               <p>Nombre del producto</p>
                                
              <a href="/tienda/carrito"><button type="submit"><i class="fas fa-cart-arrow-down"></i>comprar</button></a>
            </article>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
          <div class="contenido">
            <figure>
              <a href="/tienda/detalle">
                <img src="/images/home/cerveza2.svg" alt="">
              </a>
            </figure>
            <article>
               <h3>$1.300</h3>
               <span>50% OFF</span>
               <p>Nombre del producto</p>
                                
               <a href="/tienda/carrito"><button type="submit"><i class="fas fa-cart-arrow-down"></i>comprar</button></a>
            </article>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
          <div class="contenido">
            <figure>
              <a href="/tienda/detalle">
                <img src="/images/home/espumantes.jpg" alt="">
              </a>
            </figure>
            <article>
               <h3>$1.300</h3>
               <span>5% OFF</span>
               <p>Nombre del producto</p>
                                
              <a href="/tienda/carrito"><button type="submit"><i class="fas fa-cart-arrow-down"></i>comprar</button></a>
            </article>
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-3">
          <div class="contenido">
            <figure>
              <a href="/tienda/detalle">
                <img src="/images/home/brahma.jpg" alt="">
              </a>
            </figure>
            <article>
               <h3>$1.300</h3>
               <span>10% OFF</span>
               <p>Nombre del producto</p>
                               
              <a href="/tienda/carrito"><button type="submit"><i class="fas fa-cart-arrow-down"></i>comprar</button></a>
            </article>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
          <div class="contenido">
            <figure>
              <a href="/tienda/detalle">
                <img src="/images/home/cerveza2.svg" alt="">
              </a>
            </figure>
            <article>
               <h3>$1.300</h3>
               <span>50% OFF</span>
               <p>Nombre del producto</p>
                                
              <a href="/tienda/carrito"><button type="submit"><i class="fas fa-cart-arrow-down"></i>comprar</button></a>
            </article>
          </div>
        </div>
      
        <div class="col-12 col-md-6 col-lg-3">
          <div class="contenido">
            <figure>
              <a href="/tienda/detalle">
                <img src="/images/home/aperitivos.jpg" alt="">
              </a>
            </figure>
            <article>
               <h3>$1.300</h3>
               <span>20% OFF</span>
               <p>Nombre del producto</p>
                                
              <a href="/tienda/carrito"><button type="submit"><i class="fas fa-cart-arrow-down"></i>comprar</button></a>
            </article>
          </div>
        </div>
      -->
      </div>
      
    </div>
    <% }) %>
  </section>
  
  <!--ACA VA EL FOOTER-->
  <%- include('partials/footer') %> 
