  <%- include('partials/head') %> 
  <%- include('partials/header') %> 
  <div class="barra">
    <section class="main-nav">
      <ul class="algo">
        <li>
          <a href=" ">Vinos</a>
        </li>
        <li>
          <a href=" ">Espumantes</a>
        </li>
        <li>
          <a href="">Whiskies</a>
        </li>
        <li>
          <a href=" ">Aperitivos</a>
        </li>
        <li>
          <a href=" ">Cervezas</a>
        </li>
      </ul>
    </section>
  </div>
  <!-- Productos de la tienda -->

  <section class="principal">
    <div class="container">
      <div class="row">
        <% Productos.forEach(Productos => { %>
        <div class="col-12 col-md-6 col-lg-3">
          <div class="contenido">
            <figure>
              <a href="/tienda/<%= Productos.id %>">
                <img src="/images/productos/<%= Productos.image %> " alt="">
              </a>
            </figure>
            <h3><%= Productos.bodega %> </h3>
            <span><%= Productos.nombre %> </span>
            <article>
              $<%- (Productos.precio - Productos.precio * Productos.descuento / 100).toFixed(0).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".") %>
               <% if (Productos.descuento !=0) { %>
                  <span class="descuento"><%= Productos.descuento %>% OFF</span>
                <% } %>
      </div>
      
    </div>
    <% }) %>
  </section>
  
  <!--ACA VA EL FOOTER-->
  <%- include('partials/footer') %> 
