    <%- include('partials/head') %>    
    <%- include('partials/header2') %>
    <section class="formulario">
        <section class="form">
            <form action="/users/login"  method="POST" id="login">
                <div class="images">
                    <img src="/images/login/pngwing.svg" alt="">
                </div>
                <h1>Iniciar sesión</h1>
                <div class="grupo-form">
                    <label for="">Email:</label>
                    <input type="email" id="email" placeholder="Ingresá tu email" name="email">
                    <span class="text-danger" id=errorEmail><%= (typeof errores != 'undefined' && errores.email) ? errores.email.msg : "" %> </span>

                </div>
                <div class="grupo-form">
                    <label for="">Contraseña:</label>
                    <input type="password" id="password" placeholder="Ingresá tu contraseña" name="password"> 
                    <span class="text-danger" id="errorPassword"><%= (typeof errores != 'undefined' && errores.password) ? errores.password.msg : "" %> </span>

                </div>
                <div class="form-group form-check" id="boton-recordar">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1" name="recordar">
                    <label class="form-check-label" for="exampleCheck1">Recordarme</label>
                  </div>
                <div class="button-algo">
                  <button type="submit">Ingresar</button>
                </div>

                <article class="form2" id="registrarse">
                    <div class="algo2">
                        <a href="/users/register">¿No tienes cuenta? <b>Registrate.</b></a>
                    </div>
                </article>
            </form>
        </section>
    </section> 
    <!-- scripts de bootstrap -->
    <script type="text/javascript" src="/javascripts/<%= scripts %> "></script>
</body>
</html>