<%- include('partials/head') %> 
  <%- include('partials/header') %> 
  <div class="container">
    <section class="perfilUsuario">
        <div class="row perfil principal">

            <div class="container">
                <section class="row"></section>
                <ul class="barra">
                <li class="opciones"><a href="/admin/agregar">Agregar Producto</a></li>
                <li class="opciones"><a href="/admin/show/1/show">Editar / Eliminar</a></li>
                </ul>

            <div class="contenido text-left">

                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item " role="presentation">
                        <a class="nav-link <%= activeDetail %> " id="home-tab" data-toggle="tab" href="#detalle" role="tab" aria-controls="home" aria-selected="true">Detalle del Producto</a>
                    </li>
                    <li class="nav-item"  role="presentation">
                        <a class="nav-link <%= activeEdit %>" id="profile-tab" data-toggle="tab" href="#editar" role="tab" aria-controls="detalle" aria-selected="false">Editar Producto</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade <%= showDetail %> <%= activeDetail %> " id="detalle" role="tabpanel" aria-labelledby="profile-tab">

                        <div class="row p-3">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-1">
                                        <% if (minimo.id !=producto.id) { %>
                                            <a href="/admin/show/<%= producto.id-1 %>/show " class="text-warning"><i class="fas fa-chevron-circle-left"></i></a>
                                            <% } %>
                                    </div>
                                    <div class="col-10">
                                        <h3 class="text-center">
                                            Bodega: <%= producto.bodega %>
                                        </h3>
                                    </div>
                                    <div class="col-1">
                                        <% if (maximo.id != producto.id) { %>
                                            <a href="/admin/show/<%= producto.id+1 %>/show " class="text-warning"><i class="fas fa-chevron-circle-right"></i></a>
 
                                            <% } %>
                                    </div>
                                </div>


                            </div>
                            <div class="col-12 col-md-4 mt-6">
                                <figure class="text-center">
                                    <img src="/images/productos/<%= producto.image %> " alt="" class="img-fluid">
                                </figure>
                            </div>
                            <div class="col-12 col-md-8 mt-3">
                                <p>
                                   Nombre: <%= producto.nombre %>
                                </p>
                                <p>
                                   Varietal: <%= producto.varietal %>
                                </p>
                                <p>
                                    Año: <%= producto.cosecha %>
                                </p>
                                <p>
                                    Descripcion: <%= producto.descripcion %>
                                </p>
                                <div class="row">
                                    <div class="col-12 col-lg-4">
                                        <span><b>Categoría:</b> 
                                            <%= producto.categoria.name %>
                                        </span>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-4">
                                        <span><b>Precio:</b>  $
                                         <%=producto.precio.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")%>
                                    </span>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-4">
                                        <span><b>Descuento:</b> 
                                        <%=producto.descuento%>%
                                    </span>

                                    <form action ="/admin/eliminar/<%= producto.id %>?_method=DELETE" method="POST">
                                        <button type="submit">Eliminar</button>
                                     </form>
                                    </div>

                                </div>
                            </div>


                        </div>
                    </div>
                    <div class="tab-pane fade <%= showEdit %> <%= activeEdit %>" id="editar" role="tabpanel" aria-labelledby="home-tab">
                        <form action="/admin/edit/<%= producto.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
                            <div class="row p-3">
                                <div class="form-group col-12">
                                    <p>Bodega:</p><input class="form-control" type="text" value="<%= producto.bodega%>" value="<%= producto.image%>" name="bodega">
                                </div>
                                <div >
                                    <figure class="form-group col-12 col-md-8 col-xl-8 mt-3">
                                        <p>Foto</p><img src="/images/<%= producto.image %> " alt="" class="img-fluid">
                                    </figure>
                                    <input type="file" class="form-control" name="image">
                                </div>
                                <div class="form-group col-12 col-md-8 col-xl-8 mt-3">
                                    <p>Nombre:</p><input class="form-control" type="text" value="<%= producto.nombre%>" name="nombre">
                                </div>
                                <div class="form-group col-12 col-md-8 col-xl-8 mt-3">
                                    <p>Varietal</p><input class="form-control" type="text" value="<%= producto.varietal%>" name="varietal">
                                </div>
                                <div class="form-group col-12 col-md-8 col-xl-8 mt-3">
                                    <p>Año</p><input class="form-control" type="text" value="<%= producto.cosecha%>" name="cosecha">
                                </div>
                                <div class="form-group col-12 col-md-8 col-xl-8 mt-3 grupo-form">
                                    <h3><label for="">Categoria:</label></h3>
                                    <select name="categoria" id="algo" value="<%= producto.categoria%>" required>
                                        <option value="1">Vino</option>
                                        <option value="2">Espumantes</option>
                                        <option value="3">Whiskies</option>
                                        <option value="4">Aperitivos</option>
                                        <option value="5">Cervezas</option>
                                    </select>
                                </div>
                                <div class="form-group col-12 col-md-8 col-xl-8 mt-3">
                                    <p>Descripcion</p><textarea class="form-control" rows="7" name="descripcion" id=""><%= producto.descripcion %></textarea>
                                    <p>
                                    </p>
                                    <div class="row">
                                        <div class="form-group col-12 col-lg-4">

                                        </div>
                                        <div class="form-group col-6 col-lg-4">

                                            <div class="input-group mb-2 mr-sm-2">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text">$</div>
                                                </div>
                                                <input type="text" class="form-control" value="<%=producto.precio%>" name="precio">
                                            </div>
                                        </div>
                                        <div class="col-6 col-lg-4">
                                            <div class="input-group mb-2 mr-sm-2">

                                                <input type="text" class="form-control" value="<%=producto.descuento%>" name="descuento">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text">%</div>
                                                </div>
                                            </div>
                                            </span>
                                        </div>
                                        <div class="col-12 d-flex justify-content-end">
                                            <a href="/admin/show/<%= producto.id %>/show"><button class="btn btn-danger mr-2" type="button">Cancelar</button></a>
                                            <button class="btn btn-info" type="submit" name="id" value="<%= producto.id %> ">Guardar</button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
</div>
</section>
</div>




<%- include('partials/footer') %>